# WHILE LOOP
### Une boucle while exécute répétitivement un bloc de code tant qu'une condition donnée est vraie.

In [ ]:
# Affichage des nombres de 1 à 10 en utilisant une boucle for
print("For loop")
# La boucle for utilise la fonction range() pour itérer sur chaque nombre de 1 à 10 (11 est exclus).
for i in range(1,11):
    """
    La boucle for itère sur une séquence générée par range(1, 11), qui produit les nombres de 1 à 10.
    À chaque itération, le nombre courant est imprimé.
    """
    print(i)

# Affichage des nombres de 1 à 10 en utilisant une boucle while
print("While loop")
# Initialisation de la variable i à 1.
i=1
# La boucle while continue de s'exécuter tant que la condition (i < 11) est vraie.
while i<11:
    """
    La boucle while vérifie si la condition (i < 11) est vraie.
    Si elle est vraie, le nombre courant est imprimé et i est incrémenté de 1.
    La boucle continue jusqu'à ce que i soit égal à 11.
    """
    print(i)
    # Incrémentation de la variable i de 1 à chaque itération.
    i=i+1 # i+=1 fait la même chose

For loop
1
2
3
4
5
6
7
8
9
10
While loop
1
2
3
4
5
6
7
8
9
10

In [ ]:
def n_print(n, odd_or_even):
    """
    Imprime les nombres pairs ou impairs de 1 à n en fonction du paramètre odd_or_even.

    Parameters:
    n (int): La limite supérieure des nombres à imprimer.
    odd_or_even (str): Une chaîne indiquant si l'utilisateur souhaite imprimer des nombres "pair" ou "impair".
    """
    i = 1
    while i <= n:
        if odd_or_even == "impair" and i % 2 != 0:
            print(i)
        elif odd_or_even == "pair" and i % 2 == 0:
            print(i)
        i = i + 1

# Appel de la fonction avec les paramètres 19 et "impair"
n_print(19, "impair")

def n_print(n, odd_or_even):
    """
    Imprime les nombres pairs ou impairs de 1 à n, ou retourne une erreur si le paramètre odd_or_even est invalide.

    Parameters:
    n (int): La limite supérieure des nombres à imprimer.
    odd_or_even (str): Une chaîne indiquant si l'utilisateur souhaite imprimer des nombres "pair" ou "impair".
    """
    i = 1
    while i <= n:
        if odd_or_even == "impair" and i % 2 != 0:
            print(i)
        elif odd_or_even == "pair" and i % 2 == 0:
            print(i)
        elif odd_or_even != "pair" and odd_or_even != "impair":
            print("Erreur dans le paramètre odd_or_even")
            break
        i = i + 1

# Appel de la fonction avec les paramètres 19 et une chaîne invalide
n_print(19, "imopair")

1
3
5
7
9
11
13
15
17
19
error in odd_or_event parameter
3
3
3
3
3

## Rappel: Local and global variable

In [ ]:
# i est défini comme une variable globale avec la valeur 3
# i est également utilisé comme variable dans la boucle for, prenant les valeurs de range(5)
# Le i dans la boucle for est une variable locale
# L'instruction print cherchera d'abord une variable locale i
# et si elle n'existe pas, elle cherchera une variable globale

# Exemple 1 où la valeur imprimée est la variable locale
i = 3
for i in range(5):
    # i prend les valeurs de 0 à 4 (les valeurs produites par range(5))
    print(i)  # i ici est la variable locale i, qui prend les valeurs de range(5)

# Exemple 2 où la valeur imprimée est la variable globale
i = 3
for j in [0, True, 0, i, "2", 2, 2, 2]:
    # j prend les valeurs de la liste [0, True, 0, i, "2", 2, 2, 2], mais i reste inchangé
    print(i)  # i ici est la variable globale i, qui a la valeur 3

0
1
2
3
4
3
3
3
3
3
3
3
3

# Dictionnaire
### Un dictionnaire est une structure de données qui stocke des paires de clé-valeur, permettant une récupération rapide des valeurs associées à chaque clé.

In [ ]:
area_size = [11.25, 18.0, 20.0, 10.75, 9.50, 9.50]
area_name = ["hallway", "kitchen", "living room", "bedroom", "bathroom", "poolsize"]

# Création d'un dictionnaire
dict_area = dict()
# Initialisation de dict_area avec deux paires clé-valeur
dict_area = {"hallway":11.25, "kitchen":18}
# Affichage du dictionnaire
print(dict_area)
# Récupération et affichage de la valeur associée à la clé "kitchen"
print(dict_area["kitchen"])

# Initialisation de dict_area avec des listes comme valeurs
dict_area = {"Tarzs":[20, 20, 15], "Yasmine":[18,20]}
# Accès et affichage du deuxième élément de la liste associée à la clé "Tarzs"
print(dict_area["Tarzs"][1])

# Réinitialisation de dict_area
dict_area = {"hallway":11.25, "kitchen":18}
# Affichage du dictionnaire
print(dict_area)

# Création d'un nouveau dictionnaire vide
new_dict = dict()

# Méthode 1 pour remplir le dictionnaire
# Boucle sur les indices de area_name et area_size pour peupler new_dict
for i in range(len(area_name)):
  # Assignation de chaque valeur de area_size à la clé correspondante dans area_name
  new_dict[area_name[i]] = area_size[i]

# Affichage du dictionnaire nouvellement créé
print(new_dict)

{'hallway': 11.25, 'kitchen': 18}
{'hallway': 11.25, 'kitchen': 18.0, 'living room': 20.0, 'bedroom': 10.75, 'bathroom': 9.5, 'poolsize': 9.5}

In [ ]:
def lower_dict(new_dict):
    """
    Convertit les clés d'un dictionnaire en minuscules.

    Parameters:
    new_dict (dict): Dictionnaire dont les clés seront converties en minuscules.

    Returns:
    dict: Nouveau dictionnaire avec les clés en minuscules.
    """
    # Transformation des clés en liste et conversion en minuscules
    key_list = list(new_dict.keys())
    lower_key_list = [unit_key.lower() for unit_key in key_list]

    # Transformation des valeurs en liste
    value_list = list(new_dict.values())

    # Création d'un nouveau dictionnaire
    new_dict = dict()
    for i in range(len(value_list)):
        # Assignation des valeurs aux nouvelles clés en minuscules
        new_dict[lower_key_list[i]] = value_list[i]
    return new_dict

# Appel de la fonction avec un dictionnaire exemple
print(lower_dict({"Coco":2, "Banane":5, "Fraise":25}))

# Note: La deuxième fonction que vous avez fournie semble être une version incomplète ou erronée de la première.
# Assurez-vous de fournir une version correcte si vous souhaitez des commentaires ou des docstrings pour celle-ci également.

{'coco': 2, 'banane': 5, 'fraise': 25}

In [ ]:
# Retournera : <class 'dict_keys'>
type(dict_area.keys())

dict_keys

# Manipuler une chaîne de caractères comme une liste

In [ ]:
name = "Albert"
# La fonction type() retournera <class 'str'>, indiquant que "name" est une chaîne de caractères.
print(type(name))  # Affichera : <class 'str'>

# name[0:3] extrait les caractères de l'indice 0 à l'indice 2 (3 est exclus) de la chaîne "name".
# Cela retournera 'Alb'.
print(name[0:3])  # Affichera : 'Alb'

'Alb'

# Tuple
### Un tuple est une collection ordonnée et immuable d'éléments, définie par des parenthèses ( ).

In [ ]:
x = (1, 2)
# Affiche le tuple x
print(x)  # Affichera : (1, 2)
# Affiche le type de x, qui sera <class 'tuple'>
print(type(x))  # Affichera : <class 'tuple'>
# Accède et affiche le premier élément du tuple
print(x[0])  # Affichera : 1
# Accède et affiche le deuxième élément du tuple
print(x[1])  # Affichera : 2

aire_rect = (5, 10, 5, 5, 5, 5, True, "coucou")

# Décomposition du tuple en deux variables l et L
l, L = (5, 10)
# Affiche la longueur et la largeur
print("La longueur est", L)  # Affichera : La longueur est 10
print("La largeur est", l)   # Affichera : La largeur est 5

# Fonction qui prend un dictionnaire en entrée et retourne un nouveau dictionnaire avec des valeurs doublées
def double_val_dic(dico):
    """
    Double les valeurs de chaque élément dans le dictionnaire d'entrée.

    Parameters:
    dico (dict): Dictionnaire d'entrée avec des valeurs à doubler.

    Returns:
    dict: Nouveau dictionnaire avec des valeurs doublées.
    """
    new_dict = {}
    for dict_item in list(dico.items()):
        new_dict[dict_item[0]] = 2 * dict_item[1]
    return new_dict

# Appel de la fonction avec un dictionnaire exemple
print(double_val_dic({1: 1, 2: 2, 3: 3}))  # Affichera : {1: 2, 2: 4, 3: 6}

# Trouve et affiche l'indice de la valeur True dans le tuple aire_rect
print(aire_rect.index(True))  # Affichera l'indice de True dans le tuple aire_rect

(1, 2)
La longueur est 10
La largeur est 5

6

## Set
### Un set est une collection non ordonnée, non indexée et modifiable d'éléments uniques. En Python, un set est utilisé pour stocker plusieurs éléments dans une seule variable.

In [ ]:
# Création d'un ensemble vide
s = set()  # Note: {} créera un dictionnaire vide, pas un ensemble
# s = {} créera un dictionnaire vide

# Définition de deux ensembles avec des valeurs
s1 = {2, 4, 5}
s2 = {2, 6, 9}

# Conversion d'une liste avec des valeurs répétées en un ensemble (qui ne contient que des valeurs uniques)
l = [2, 2, 2, 2, 4, 5]
s_to_l = set(l)
# Affichage de la liste originale
print(l)  # Affichera : [2, 2, 2, 2, 4, 5]
# Affichage de la longueur de la liste originale
print(len(l))  # Affichera : 6 (car il y a six éléments dans la liste)
# Affichage de l'ensemble converti (notez que les valeurs répétées sont éliminées)
print(s_to_l)  # Affichera : {2, 4, 5}
# Affichage de la longueur de l'ensemble converti
print(len(s_to_l))  # Affichera : 3 (car les valeurs répétées sont éliminées dans un ensemble)

# Pour utiliser la méthode difference(), vous devez spécifier l'autre ensemble avec lequel effectuer la comparaison
# Par exemple, pour trouver les éléments qui sont dans s1 mais pas dans s2 :
print(s1.difference(s2))  # Affichera : {4, 5}

[2, 2, 2, 2, 4, 5]
6
{2, 4, 5}
3

{2}

In [ ]:
[('Marcus Garvey Park', ('Black', 'Cinnamon', 'Cleaning', None)),
 ('Highbridge Park',
  ('Gray',
   'Cinnamon',
   'Running, Eating',
   'Runs From, watches us in short tree')),
 ('Madison Square Park', ('Gray', None, 'Foraging', 'Indifferent')),
 ('City Hall Park', ('Gray', 'Cinnamon', 'Eating', 'Approaches')),
 ('J. Hood Wright Park', ('Gray', 'White', 'Running', 'Indifferent')),
 ('Seward Park', ('Gray', 'Cinnamon', 'Eating', 'Indifferent')),
 ('Union Square Park', ('Gray', 'Black', 'Climbing', None)),
 ('Tompkins Square Park', ('Gray', 'Gray', 'Lounging', 'Approaches'))]

# Booléen

Il fonctionnera exactement comme la clause WHERE en SQL.

In [ ]:
def is_even(number):
    """
    Vérifie si un nombre est pair.

    Parameters:
    number (int): Le nombre à vérifier.

    Returns:
    bool: True si le nombre est pair, False sinon.
    """
    return number % 2 == 0  # Retourne True si le reste de la division de number par 2 est égal à 0 (pair), sinon False

# Appel de la fonction avec le nombre 2
print(is_even(2))  # Affichera : True, car 2 est un nombre pair

# Appel de la fonction avec le nombre 3
print(is_even(3))  # Affichera : False, car 3 n'est pas un nombre pair

True
False

# Listes
Les listes sont composées de différents éléments appelés items.

In [ ]:
# the type is list
type([1,2,3,4,7])

# assign l to a list
l = [1,2,3,4,7,5]

# check what is the first value of l
l[0]

# let's change the 3rd value to 1
l[2] = 1
l

# let's see the value of the last element
l[-1]

# let's see all the elements before the last one
l[:-1]
l[0:-1] # Galaad

# let's see all the elements from the 3 position to the end
l[2:]


# let's reverse the order of the list l
l[::-1]

# let's take the 2 first elements and reverse the order
l[0:2][::-1]
l[0:2:-1] # doesn't work because first it reverse the list
l[0:2:-1]

# slice the list. Let's work only on the sub list from the 1st to the 3rd position
l[0:2] # Going from position 1 to position 2
l[0:3] # Going from position 1 to position 3
[l[0],l[3]] # Taking only values of position 1 and position 4

# Create a list with boolean, int, float and string
new_list = [True,1,2.5,"abc"]
new_list

# Create a list of a list

even_odd_list = [1,3,5,7,2,4,6]
even_odd_list = [[1,3,5,7],[2,4,6]]
# Retrieve the 2nd element of the 2nd list
even_odd_list[1][1]

new_list = [[1,3,5,7],[2,4,[1,3,5,7],[2,4,6],6],[2,4,6]]

[1, 2, 'e']
[1, 2, 'e', 'Hello']
[1, 2, 'e']
[2, 'e']

In [ ]:
l = [1,2,3,4,7]
new_l = l[2::-1]# le type est list
print(type([1,2,3,4,7]))  # Affichera : <class 'list'>

# assignation de l à une liste
l = [1,2,3,4,7,5]

# vérification de la première valeur de l
print(l[0])  # Affichera : 1

# changeons la 3ème valeur en 1
l[2] = 1
print(l)  # Affichera la liste modifiée

# voyons la valeur du dernier élément
print(l[-1])  # Affichera : 5

# voyons tous les éléments avant le dernier
print(l[:-1])  # Affichera tous les éléments sauf le dernier
print(l[0:-1])  # Même chose

# voyons tous les éléments à partir de la 3ème position jusqu'à la fin
print(l[2:])  # Affichera : [1, 4, 7, 5]

# inverser l'ordre de la liste l
print(l[::-1])  # Affichera la liste inversée

# prenons les 2 premiers éléments et inversons l'ordre
print(l[0:2][::-1])  # Affichera les deux premiers éléments dans l'ordre inverse

# travaillons sur la sous-liste allant de la 1ère à la 3ème position
print(l[0:2])  # Affichera les deux premiers éléments
print(l[0:3])  # Affichera les trois premiers éléments
print([l[0],l[3]])  # Affichera les éléments aux positions 1 et 4

# Création d'une liste avec des booléens, des entiers, des flottants et des chaînes de caractères
new_list = [True,1,2.5,"abc"]
print(new_list)  # Affichera la nouvelle liste

# Création d'une liste de listes
even_odd_list = [[1,3,5,7],[2,4,6]]
# Récupération du 2ème élément de la 2ème liste
print(even_odd_list[1][1])  # Affichera : 4

# Autre exemple de liste de listes
new_list = [[1,3,5,7],[2,4,[1,3,5,7],[2,4,6],6],[2,4,6]]
# Vous pouvez ensuite accéder aux éléments de cette structure de données imbriquée comme montré précédemment

new_l

[3, 2, 1]

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
areas = ["hallway", hall, "kitchen", kit, "living room", liv,
         "bedroom", bed, "bathroom", bath]

# Affiche les quatre derniers éléments de la liste areas
print(areas[-4:])  # Affichera : ['bedroom', 10.75, 'bathroom', 9.5]

# Affiche tous les éléments de la liste areas sauf les deux derniers
print(areas[:-2])  # Affichera : ['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75]

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75]

## Les méthodes
Les méthodes sont des fonctions intégrées aux objets, permettant d'effectuer des opérations spécifiques sur ces objets.

In [ ]:
new_list2 = [1, 2, "e"]
print(new_list2)  # Affichera : [1, 2, 'e']

# Ajouter l'élément "Hello" à la liste
new_list2.append("Hello")
print(new_list2)  # Affichera : [1, 2, 'e', 'Hello']

# Enlever le dernier élément ajouté à la liste
new_list2.pop()
print(new_list2)  # Affichera : [1, 2, 'e']

# Pour connaître l'index, on utilise la méthode index
# Je veux connaître la position de "e"
print(new_list2.index("e"))  # Affichera l'index de 'e' dans la liste

# Pour enlever un élément spécifique
# Enlevons le 1
new_list2.remove(1)
print(new_list2)  # Affichera : [2, 'e']

# Instruction conditionnelle
Avec plus de deux options

In [ ]:

def surface_room(room_name):
    """
    Retourne la surface d'une pièce donnée en fonction de son nom.

    Parameters:
    room_name (str): Le nom de la pièce.

    Returns:
    float ou str: La surface de la pièce ou un message d'erreur si le nom de la pièce n'est pas reconnu.
    """
    if room_name == "hallway":
        res = hall
    elif room_name == "kitchen":
        res = kit
    elif room_name == "living room":
        res = liv
    elif room_name == "bathroom":
        res = bath
    elif room_name == "bedroom":
        res = bed
    else:
        res = "Réessayez avec un nom de pièce correct"
    return res

# Appel de la fonction avec "bedroom" comme argument
print(surface_room("bedroom"))  # Affichera la surface correspondant à 'bedroom' si la variable 'bed' est définie
# Appel de la fonction avec "BEDROOM" comme argument
print(surface_room("BEDROOM"))  # Affichera le message d'erreur car "BEDROOM" ne correspond à aucun nom de pièce défini dans la fonction

10.75
Try again with a correct room name

45

# For LOOP
Une boucle for permet d'itérer sur les éléments d'une séquence (comme une liste, un tuple ou une chaîne), en exécutant un bloc de code pour chaque élément de cette séquence.

In [ ]:
areas_name = ["hallway", "kitchen", "living room", "bedroom", "bathroom"]

def surface_room(room_name):
    """
    Retourne la surface d'une pièce donnée en fonction de son nom.

    Parameters:
    room_name (str): Le nom de la pièce.

    Returns:
    float ou str: La surface de la pièce ou un message d'erreur si le nom de la pièce n'est pas reconnu.
    """
    room_name = room_name.lower()  # Convertit le nom de la pièce en minuscules pour éviter les problèmes de casse
    if room_name == "hallway":
        result = hall
    elif room_name == "kitchen":
        result = kit
    elif room_name == "living room":
        result = liv
    elif room_name == "bathroom":
        result = bath
    elif room_name == "bedroom":
        result = bed
    else:
        result = "Réessayez avec un nom de pièce correct"
    return result

# Appel de la fonction avec différents arguments
print(surface_room("hall"))  # Affichera le message d'erreur car "hall" n'est pas un nom de pièce valide
print(surface_room("kit"))   # Affichera le message d'erreur car "kit" n'est pas un nom de pièce valide
print(surface_room("liv"))   # Affichera le message d'erreur car "liv" n'est pas un nom de pièce valide

# Boucle sur la liste areas_name et affiche la surface de chaque pièce
for i in range(len(areas_name)):
    print(surface_room(areas_name[i]))  # Affichera la surface de chaque pièce si les variables hall, kit, liv, bath, bed sont définies

11.25
18.0
20.0
10.75
9.5

## Les listes de compréhensions
Les listes de compréhension sont une manière concise de créer des listes en Python. Elles permettent d'exprimer des boucles for et des conditions if en une seule ligne, générant ainsi des éléments de liste de manière plus lisible et souvent plus efficace.

In [ ]:
surface_list = []
for i in areas_name:
    surface_list.append(surface_room(i))  # Ajoute la surface de chaque pièce à la liste surface_list en utilisant une boucle for

# Liste de compréhension
# Crée et affiche une liste des surfaces de chaque pièce en une seule ligne
print([surface_room(room) for room in areas_name])

# Affiche la liste areas_name
print(areas_name)

# Liste de compréhension avec condition
# Crée et affiche une liste des surfaces des pièces dont le nom a une longueur entre 7 et 10 caractères
print([surface_room(room) for room in areas_name if len(room) < 10 and len(room) > 7])

[11.25, 18.0, 20.0, 10.75, 9.5]
['hallway', 'kitchen', 'living room', 'bedroom', 'bathroom']

[9.5]

In [ ]:
# Supposons que nous ayons une liste nommée 'liste'
liste = [1, 2, 3, 4, 5]

# Initialisation de la variable 'max' avec la première valeur de la liste
maxi = liste[0]
print(maxi)  # Affichera la première valeur de la liste

list[0]